
@{
    ViewData["Title"] = "Programs & Support";
}

<br />
<br />
<br />
<div style="border: solid; padding: 4px; width: 10%; display: inline;">
    @Html.ActionLink("Educational Workshops", "Programs", "Home", new { activeView = "EduWorkshops" })
</div>
<div style="border: solid; padding: 4px; width: 10%; display: inline;">
    @Html.ActionLink("Meetup Events", "Programs", "Home", new { activeView = "Meetups" })
</div>
<div style="border: solid; padding: 4px; width: 10%; display: inline;">
    @Html.ActionLink("Community Education", "Programs", "Home", new { activeView = "CommEducation" })
</div>
<div style="border: solid; padding: 4px; width: 10%; display: inline;">
    @Html.ActionLink("Support Groups", "Programs", "Home", new { activeView = "SupportGroups" })
</div>
<div class="content" style="padding:15px;">
    @Html.Raw(ViewData["Content"])
</div>